.vs/
MVCDemoEFr/bin/
packages/
MVCDemoEFr/obj/
/Employee.DL/bin/Debug
/Employee.DL/obj/Debug
/Employee.BL/bin/Debug
/Employee.BL/obj/Debug
/Employee.Model/obj/Debug
/Employee.Model/bin/Debug
/Employee.WebAPI/bin
/Employee.WebAPI/obj/Debug
/Employee.Utilities/obj/Debug
/Employee.WebUI/bin
/Employee.WebUI/obj/Debug
/Employee.BL/obj/Release
/Employee.Model/obj/Release
/Employee.Utilities/obj/Release
/Employee.DL/obj/Release
/Employee.WebUI/obj/Release
/Employee.WebAPI/obj/Release
/Employee.BL/bin/Release
/Employee.DL/bin/Release
/Employee.Model/bin/Release
/Employee.Utilities/bin/Debug
